
.user-cabecera {
    margin: 2rem;
}
.miembros-card-link {
    padding: 0.5rem;
    background: $color-tertiary;
    border-radius: 30px;
    box-shadow: 2px 1px 30px $color-secondary;
    margin: 2rem;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
        padding: 0;
        background: #fff;
        i {
            font-size: 1rem;
        }
        &:hover {
            background: rgb(87, 223, 87);
            i {
                color: black;
            }
        }
    }
    i {
        padding: 1rem;
        font-size: 2rem;
        color: goldenrod;
        text-shadow: 2px 1px 3px gold;
    }
    a {
        color: $color-ligth;
        &:hover {
            color: gold;
        }
    }

    li {
        display: flex;
        align-items: center;
        color: rgb(238, 233, 220);
        font-size: 1.5rem;
    }
    #totalMembers {
        padding: 0.3rem;
        border: 1px solid gold;
        border-radius: 100vmax;
    }
    h2 {
        color: #fff;
        font-weight: 300;
    }
}
.actividad-reciente {
    width: 70%;
    ul {
        padding: 1rem;
        border-radius: 30px;
        background: $color-primary;
    }
    li {
        padding: 0.3rem;
        border-bottom: 1px solid gold;
    }
}
