.contenido-miembros {
    h1 {
        margin: 1rem;
    }
    padding: 1rem;
    .miembros-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-inline-end: 1rem;
    }
    form {
        .input-div {
            display: flex;
            align-items: center;

            position: relative;
            input {
                @include mix-input;
            }

            i {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .agregar-miembro-div{
        display: flex;
       align-items: center;
        gap: 1rem;
    }
}


.miembros-table {
    text-align: center;
    width: 99%;
    border-collapse: separate;
    border-spacing: 0 0.5rem;
    background-color: #afafaf41;
    border-radius: 10px;
    box-shadow: 2px 2px 15px $color-secondary;
    margin-top: 1rem;
  
    thead {
      th {
        grid-template-columns: 2fr repeat(7, 1fr);
        border-bottom: 1px solid #000;
        padding: 0.5rem;
      }
    }
  
    tbody {
      tr:nth-child(even) {
        background-color: #f9f9f9;
      }
  
      td {
        padding: 0.5rem;
        box-shadow: 1px 1px 15px $color-dark-inter;
  
        button {
          i {
            font-size: 1.2rem;
            transition: 0.1s;
            padding: 2px;
  
            &:hover {
              font-size: 1.4rem;
              color: blueviolet;
              cursor: pointer;
              border: 1px solid blueviolet;
              border-radius: 5px;
              box-shadow: -1px 1px 10px blue;
            }
          }
        }
      }
    }
  }

