
.estado-Activo {
    
    background-color: rgba(0, 190, 0, 0.747);
    border-radius: 50px;
    box-shadow: 1px 1px 10px rgb(0, 190, 0);
    border-bottom: none;
    font-size: .9rem;
    font-weight: 500;
    color: #000;

}

.estado-Vencido {
    @extend .estado-Activo;
    background-color: rgba(199, 20, 20, 0.822);
    color: #fff;

    box-shadow: 1px 1px 10px rgb(148, 0, 0);

    font-size: .9rem;
}

.estado-false {
    color: rgba(199, 20, 20, 0.822);
    font-weight: 600;
}

.estado-true {
   color: rgba(0, 190, 0, 0.747);
    @extend .estado-false;
}

.estado-undefined {
    @extend .estado-false;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.edit-button {
    color: blue;
    &:hover {
        cursor: pointer;
    }
}

.delete-button {
    color: red;
    padding: .5rem;
    border-radius: 10px;
    &:hover {
        cursor: pointer;
    }
}