.estado-Activo {
    color: rgba(0, 190, 0, 0.747);
    border-radius: 50px;
    border-bottom: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: #000;
}

.estado-Vencido {
    @extend .estado-Activo;
    box-shadow: 1px 1px 10px rgb(148, 0, 0);
    font-size: 0.9rem;
}

.estado-false {
    color: rgba(199, 20, 20, 0.822);
    font-weight: 600;
}

.estado-true {
    color: rgb(0, 156, 0);
    @extend .estado-false;
}

.estado-undefined {
    @extend .estado-false;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 0.5rem;
}

.block {
    display: block;
}

.column {
    flex-direction: column;
}

.edit-button {
    color: blue;
    &:hover {
        cursor: pointer;
        text-shadow: 1px 1px 10px blue;
    }
}

.delete-button {
    color: rgb(223, 0, 0);
    padding: 0.5rem;
    border-radius: 10px;
    font-weight: 700;

    &:hover {
        cursor: pointer;
        text-shadow: 1px 1px 10px red;
    }
}

.pagar-button {
    color: black;
    background: yellow;
    padding: 0.5rem;
    border-radius: 100vmax;
    &:hover {
        cursor: pointer;
        text-shadow: 1px 1px 10px yellow;
        text-decoration: underline;
        text-decoration-color: yellowgreen;
        background: $color-ligth;
        box-shadow: 1px 1px 10px yellow;
        font-weight: 700;
    }
}

.config-close-icon {
    font-size: 1.5rem;
    width: auto;
    margin-bottom: 1rem;
    color: #fff;
    &:hover {
        color: red;
    }
}

.modal-sweetAlert {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    justify-items: end;
}

.filtros {
    width: 50%;
    display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  label {
    margin-right: 10px;
  }
  select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  button {
    padding: 10px 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: #45a049;
      }
}
}
