$color-dark: #262526;
$color-dark-inter: #161616a1;
$color-ligth-inter: #f1f1f1d8;
$color-ligth: #f3f3f3;
$color-primary: #d7d8da;
$color-secondary: #afb2b7;
$color-tertiary: #7f8084;
$color-violet: rgb(135, 37, 228);
